* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button,
input {
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
}

button {
    cursor: pointer;
}
